.header {
  height: 80px;
  background: rgba(14, 20, 31, 0.8784313725);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__title {
  font-size: 32px;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.7098039216);
  margin-left: 175px;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 181px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form__search {
  margin-right: 47px;
}
.form__search input {
  width: 271px;
  height: 43px;
  background-color: #D9D9D9;
  background: url("images/index/search.png") no-repeat;
  background-position: right;
  border-radius: 12px;
}

.chats {
  width: 100%;
  height: 100vh;
  background-image: url("images/Chats/background.png");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.chats__content {
  width: 1160px;
  height: 979px;
  background: rgba(197, 197, 197, 0.4588235294);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.chat {
  padding-left: 66px;
  margin-top: 50px;
  width: 1095px;
  height: 148px;
  -webkit-box-shadow: 0px 8px 5px 0px rgba(0, 0, 0, 0.3803921569);
          box-shadow: 0px 8px 5px 0px rgba(0, 0, 0, 0.3803921569);
  background: rgba(103, 111, 129, 0.7098039216);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 28px;
}

.chat__text {
  margin-left: 59px;
}

.chat__text_title {
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
  color: #0F151F;
}