body{
    max-width: 2073px;
    height: 100vh;
    font-family: 'Red Rose';
    color: #FFFFFF;
    background-color: #141923;
    list-style-type: none; 
}
.header {
    height: 80px;
    background: #0E141FE0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__title {
    font-size: 32px;
    font-weight: 700;
    color: #FFFFFFB5;
    margin-left: 175px;
}
.form {
    display: flex;
    margin-right: 181px;
    align-items: center;
}
.form__search {
    margin-right: 47px;
    input{
        width: 271px;
        height: 43px;
        background-color: #D9D9D9;
        background: url("images/index/search.png") no-repeat;
        background-position: right;
        border-radius: 12px;
        
    }
}


.register {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  
}

.regicter__form{
    width: 375px;
    height: 446px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 126px;

    form{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    h2{
        font-size: 40px;
        font-weight: 700;
    }

    input{
        width: 375px;
        height: 54px;
        border-radius: 4px;
        background: #9BA4B5;
        margin-top: 26px;
        &::placeholder{
            font-size: 20px;
            line-height: 54px;
            padding-left: 13px;

        }
    }

    .register__continue{
        
            margin-top: 36px;
            display: block;
            width: 200px;
            height: 60px;
            background-color: #6A963E;
            border-radius: 10px;
            span{
                color: #FFFFFF;
                line-height: 60px;
                font-size: 20px;
                text-align: center;
            }
        
    }
}

.subtitle {
    margin-top: 36px;
    p{
        font-size: 20px;
        color: #FFFFFF85;

    }
    .register__input 
        span{
            font-weight: 700px;
            font-size: 20px;
            line-height: 26px;
            color:#FFFFFF;
        }    
}