@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Rubik:wght@400;700&display=swap');


.header {
    height: 80px;
    background: #0E141FE0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}
.header__title {
    span{
        color: #FFFFFFB5;
    }
    font-size: 32px;
    font-weight: 700;
    color: #FFFFFFB5;
    margin-left: 175px;
}
.form {
    display: flex;
    margin-right: 181px;
    align-items: center;
}
.form__search {
    margin-right: 47px;
    input{
        width: 271px;
        height: 43px;
        background-color: #D9D9D9;
        background: url("../images/index/search.png") no-repeat;
        background-position: right;
        border-radius: 12px;
        
    }

}
.form__menu {
    input{
        position: absolute;
        visibility: hidden;
    }
}

.form__checkbox:checked ~ .menu-list{
    transform: translateY(0);
    top: 80px;
}
.menu-list {
    position: absolute;
    top: 0;
    right: 0;
    transform: translateY(-100%);
    width: 440px;
    height: 395px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 50px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    linear-gradient(0deg, #141923, #141923);
    span{

        color: #FFFFFFBD;
    }
    font-size: 24px;
    font-weight: 700;

}
.form__checkbox-label{
    cursor: pointer;
}

body{
    font-family: "Roboto";
}

.container {
    background: url("../images/chat-dating/background.png");
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    width: 100%;

    .chat {
        width: 882px;
        height: 100vh;
        margin: 0 auto;
        padding-top: 80px;
        backdrop-filter: blur(10px);
        background: #C5C5C575;

        .chat__header {
            width: 882px;
            height: 140px;
            position: fixed;
            top: 80px;
            left:0;
            background: #ACB6CB;
            display: flex;
            align-items: center;
            gap: 59px;
            padding-left: 36px;

            .user {
                display: flex;
                gap: 25px;
                align-items: center;

                .user-name {
                    font-family: "Rubik";
                    font-size: 24px;
                    font-weight: 700;
                }
            }
        }
    }
}

%mes{
    display: inline-flex;
    align-items: end;
    gap: 10px;
   
    .message__content{
        max-width: 467px;
        background: #454A52;
        border-radius: 10px 10px 10px 0;
        padding: 8px 10px 8px 10px;

        .message__username{    
            font-size: 20px;
            font-weight: 500;
            color: #9BA6B9F0;

        }

        .message__text{         
            font-size: 20px;
            color: #E7E7E7F7;
            margin: 7px 0 7px 0;
        }

        .message__date{         
            font-size: 14px;
            color: #D8D5FF82;

        }
    }
}

.chat__navigation {
}
.chat__dialog {
    &::-webkit-scrollbar{
        width: 0;
    }

    width: 100%;
    height: calc(100% - 140px - 160px);
    overflow: auto;
    margin-top: 140px;
    padding: 0 111px 0 111px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.message {
   @extend %mes;
}

.message-forwarded {
    &::before{
        content: '';
        width: 2px;
        height: calc(100% - 19px);
        background: #09044C;
        position: relative;
        left: 24px;
        bottom: 9.5px;

    }
    @extend %mes;
    align-self: flex-end;
    .message__content{
        padding: 8px 10px 8px 19px;
        background: #5C636F;
        border-radius: 10px 10px 0 10px;
    }
}
.my-message {
    @extend %mes;
    align-self: flex-end;
    .message__content{
        border-radius: 10px 10px 0 10px;
        background: #324466;
    }
}
.chat__input {
    width: 660px;
    height: 58px;
    background: #9BA4B5;
    position: fixed;
    bottom: 80px;
    left: calc(50% - 330px);
    border-radius: 4px;

    input{
        width: calc(100% - 30px);
        margin-left: 22px;
        height: 100%;
        background: #9BA4B5;
        &::placeholder{
            font-size: 20px;
            color: #1419239E;
        }
    }
}
