@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Rubik:wght@400;700&display=swap");
.header {
  height: 80px;
  background: rgba(14, 20, 31, 0.8784313725);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  font-family: "Rubik";
}

.header__title {
  font-size: 32px;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.7098039216);
  margin-left: 175px;
}
.header__title span {
  color: rgba(255, 255, 255, 0.7098039216);
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 181px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form__search {
  margin-right: 47px;
}
.form__search input {
  width: 271px;
  height: 43px;
  background-color: #D9D9D9;
  background: url("../images/index/search.png") no-repeat;
  background-position: right;
  border-radius: 12px;
}

.form__menu input {
  position: absolute;
  visibility: hidden;
}

.form__checkbox:checked ~ .menu-list {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  top: 80px;
}

.menu-list {
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  width: 440px;
  height: 395px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-left: 50px;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.2))), -webkit-gradient(linear, left bottom, left top, from(#141923), to(#141923));
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(0deg, #141923, #141923);
  font-size: 24px;
  font-weight: 700;
}
.menu-list span {
  color: rgba(255, 255, 255, 0.7411764706);
}

.form__checkbox-label {
  cursor: pointer;
}

.content {
  background: url("../images/chats/background.png") no-repeat;
  width: 100%;
  height: 100%;
  background-size: cover;
  font-family: "Roboto";
}

.container {
  max-width: 1160px;
  height: 100vh;
  padding-top: 80px;
  margin: 0 auto;
  background: rgba(197, 197, 197, 0.4588235294);
  overflow: auto;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}
.container::-webkit-scrollbar {
  width: 0;
}
.container .container__search {
  width: 100%;
  height: 100px;
}
.container .container__search .container__input {
  width: 1077px;
  height: 69px;
  background: #e1e2e8;
  border-radius: 5px;
  margin: 21px auto;
  border: 1px solid rgba(255, 255, 255, 0.6980392157);
}
.container .container__search .container__input::after {
  content: url("../images/chats/lupa.png");
  position: absolute;
  right: 63px;
  top: 123px;
}
.container .container__search .container__input input {
  width: calc(100% - 110px);
  margin: 0 55px 0 55px;
  height: 100%;
  background: #e1e2e8;
}
.container .container__search .container__input input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.5019607843);
  font-size: 20px;
}
.container .container__search .container__input input::-moz-placeholder {
  color: rgba(0, 0, 0, 0.5019607843);
  font-size: 20px;
}
.container .container__search .container__input input:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.5019607843);
  font-size: 20px;
}
.container .container__search .container__input input::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.5019607843);
  font-size: 20px;
}
.container .container__search .container__input input::placeholder {
  color: rgba(0, 0, 0, 0.5019607843);
  font-size: 20px;
}
.container .chats {
  background-color: rgba(211, 224, 255, 0.4117647059);
}
.container .chat__message {
  width: 100%;
  height: 148px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.6980392157);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.container .chat__message .chat__info {
  width: 848px;
  font-size: 32px;
  text-align: left;
  margin: 23px 0 23px 0;
  color: #0F151F;
}
.container .chat__message .chat__info .chat__user {
  font-weight: 700;
  margin-bottom: 23px;
}
.container .chat__message .chat__info .chat__previev-message {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}