@font-face {
    font-family: 'Red Rose';
    src: url('fonts/RedRose-Light.eot');
    src: local('Red Rose Light'), local('RedRose-Light'),
        url('fonts/RedRose-Light.eot?#iefix') format('embedded-opentype'),
        url('fonts/RedRose-Light.woff2') format('woff2'),
        url('fonts/RedRose-Light.woff') format('woff'),
        url('fonts/RedRose-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Red Rose';
    src: url('font/RedRose-Regular.eot');
    src: local('Red Rose Regular'), local('RedRose-Regular'),
        url('font/RedRose-Regular.eot?#iefix') format('embedded-opentype'),
        url('font/RedRose-Regular.woff2') format('woff2'),
        url('font/RedRose-Regular.woff') format('woff'),
        url('font/RedRose-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Red Rose';
    src: url('fonts/RedRose-Medium.eot');
    src: local('Red Rose Medium'), local('RedRose-Medium'),
        url('fonts/RedRose-Medium.eot?#iefix') format('embedded-opentype'),
        url('fonts/RedRose-Medium.woff2') format('woff2'),
        url('fonts/RedRose-Medium.woff') format('woff'),
        url('fonts/RedRose-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Red Rose';
    src: url('fonts/RedRose-Bold.eot');
    src: local('Red Rose Bold'), local('RedRose-Bold'),
        url('fonts/RedRose-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/RedRose-Bold.woff2') format('woff2'),
        url('fonts/RedRose-Bold.woff') format('woff'),
        url('fonts/RedRose-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Red Rose';
    src: url('fonts/RedRose-SemiBold.eot');
    src: local('Red Rose SemiBold'), local('RedRose-SemiBold'),
        url('fonts/RedRose-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('fonts/RedRose-SemiBold.woff2') format('woff2'),
        url('fonts/RedRose-SemiBold.woff') format('woff'),
        url(fonts/'RedRose-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Mono';
    src: url('fonts/RobotoMono-Medium.eot');
    src: local('Roboto Mono Medium'), local('RobotoMono-Medium'),
        url('fonts/RobotoMono-Medium.eot?#iefix') format('embedded-opentype'),
        url('fonts/RobotoMono-Medium.woff') format('woff'),
        url('fonts/RobotoMono-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}


@font-face {
    font-family: 'Roboto Mono';
    src: url('fonts/RobotoMono-Thin.eot');
    src: local('Roboto Mono Thin'), local('RobotoMono-Thin'),
        url('fonts/RobotoMono-Thin.eot?#iefix') format('embedded-opentype'),
        url('fonts/RobotoMono-Thin.woff') format('woff'),
        url('fonts/RobotoMono-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Mono';
    src: url('fonts/RobotoMono-Light.eot');
    src: local('Roboto Mono Light'), local('RobotoMono-Light'),
        url('fonts/RobotoMono-Light.eot?#iefix') format('embedded-opentype'),
        url('fonts/RobotoMono-Light.woff') format('woff'),
        url('fonts/RobotoMono-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Mono';
    src: url('fonts/RobotoMono-Bold.eot');
    src: local('Roboto Mono Bold'), local('RobotoMono-Bold'),
        url('fonts/RobotoMono-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/RobotoMono-Bold.woff') format('woff'),
        url('fonts/RobotoMono-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Mono';
    src: url('fonts/RobotoMono-Regular.eot');
    src: local('Roboto Mono'), local('RobotoMono-Regular'),
        url('fonts/RobotoMono-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/RobotoMono-Regular.woff') format('woff'),
        url('fonts/RobotoMono-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}






