@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Rubik:wght@400;700&display=swap");
body {
  background-color: #141923;
  font-family: "Roboto";
  color: #ffffff;
}
body::-webkit-scrollbar {
  width: 0;
}
body::-webkit-scrollbar {
  width: 0;
}

.header {
  height: 80px;
<<<<<<< HEAD
  background: #0e141f;
=======
  background: #0E141F;
  display: -webkit-box;
  display: -ms-flexbox;
>>>>>>> 4f18cb38ed4181133fdef0ad73abfd072898cb30
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  font-family: "Rubik";
}

.header__title {
  font-size: 32px;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.7098039216);
  margin-left: 175px;
}
.header__title span {
  color: rgba(255, 255, 255, 0.7098039216);
}

.form {
  display: flex;
  margin-right: 181px;
  align-items: center;
}

.form__search {
  margin-right: 47px;
}
.form__search input {
  width: 271px;
  height: 43px;
  background-color: #d9d9d9;
  background: url("../images/index/search.png") no-repeat;
  background-position: right;
  border-radius: 12px;
}

.form__menu input {
  position: absolute;
  visibility: hidden;
}

.form__checkbox:checked ~ .menu-list {
  transform: translateY(0);
  top: 80px;
}

.menu-list {
  position: absolute;
  top: 0;
  right: 0;
  transform: translateY(-100%);
  width: 440px;
  height: 395px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: 50px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(0deg, #141923, #141923);
  font-size: 24px;
  font-weight: 700;
}
.menu-list span {
  color: rgba(255, 255, 255, 0.7411764706);
}

.form__checkbox-label {
  cursor: pointer;
}

.profile {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.profile__content {
  margin-top: 61px;
  width: 1160px;
}

.profile__inform {
  display: flex;
}

.profile__img {
  display: flex;
  flex-direction: column;
}
.profile__img a {
  margin-top: 22px;
  display: inline-block;
  height: 34px;
  border-radius: 32px;
  background-color: rgba(217, 217, 217, 0.3294117647);
  text-align: center;
  position: relative;
}
.profile__img span {
  font-size: 20px;
  font-weight: 700;
  line-height: 34px;
  color: rgba(20, 25, 35, 0.7882352941);
}
.profile__img span::after {
  content: url("../images/my-profile/pen.png");
  padding-left: 10px;
  position: absolute;
  top: 5px;
}

.profile__data {
  margin-left: 42px;
}

.profile__name {
  font-family: Rubik;
  font-size: 32px;
  font-weight: 700;
}

.profile__status {
  padding-left: 25px;
  width: 476px;
  height: 75px;
  font-family: Roboto;
  font-size: 20px;
  line-height: 23px;
  color: rgba(255, 255, 255, 0.5803921569);
  margin-top: 15px;
}
.profile__status::before {
  content: url("../images/my-profile/status.png");
  position: relative;
  left: -30px;
  top: 30px;
}

.profile__friends {
  margin-top: 49px;
  display: flex;
}
.profile__friends span {
  font-size: 24px;
  font-weight: 700;
}

.profile__profile-frend {
  width: 265px;
  display: flex;
  justify-content: space-between;
  margin-left: 50px;
}

.profile-frend {
  display: flex;
  flex-direction: column;
}
.profile-frend span {
  padding-top: 15px;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  color: rgba(255, 255, 255, 0.4);
}

.profile__photos {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}
.profile__photos .profile__photo-title {
  display: flex;
  justify-content: space-between;
}
.profile__photos h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
}

.photos {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  width: 1160px;
}

.profile-nav {
  margin: 26px 0 36px 0;
  width: 102px;
  display: flex;
<<<<<<< HEAD
  justify-content: space-between;
  align-self: center;
=======
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
>>>>>>> 4f18cb38ed4181133fdef0ad73abfd072898cb30
}

.editing-profile {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  z-index: 1050;
  width: 100%;
  height: 100vh;
<<<<<<< HEAD
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}
.editing-profile:target {
  opacity: 1;
  overflow-y: auto;
}
.editing-profile textarea {
  height: 103px;
  border-radius: 5px;
  background: #9ba4b5;
  padding: 15px 0 0 15px;
}
.editing-profile textarea::-moz-placeholder {
  font-size: 20px;
  color: rgba(20, 25, 35, 0.6196078431);
}
.editing-profile textarea::placeholder {
=======
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: auto;
}
.editing-profile:target {
  opacity: 1;
}
.editing-profile input {
  width: 100%;
  height: 54px;
  background: #9BA4B5;
  border-radius: 5px;
  padding-left: 15px;
}
.editing-profile input::-webkit-input-placeholder {
  font-size: 20px;
  color: rgba(20, 25, 35, 0.6196078431);
}
.editing-profile input::-moz-placeholder {
  font-size: 20px;
  color: rgba(20, 25, 35, 0.6196078431);
}
.editing-profile input:-ms-input-placeholder {
  font-size: 20px;
  color: rgba(20, 25, 35, 0.6196078431);
}
.editing-profile input::-ms-input-placeholder {
  font-size: 20px;
  color: rgba(20, 25, 35, 0.6196078431);
}
.editing-profile input::placeholder {
>>>>>>> 4f18cb38ed4181133fdef0ad73abfd072898cb30
  font-size: 20px;
  color: rgba(20, 25, 35, 0.6196078431);
}
.editing-profile h2 {
  font-weight: 700;
  font-size: 32px;
}
.editing-profile .editing-profile__content {
<<<<<<< HEAD
  margin: 30px 50px;
  min-width: 453px;
}
.editing-profile .editing-profile__content .editing-profile__about-me .editing-profile__btn button {
  display: inline-block;
  border: 1px solid #ffffff;
  border-radius: 70px;
  width: 255px;
  height: 43px;
  background: none;
  font-size: 20px;
  color: #ffffff;
}
.editing-profile .editing-profile__content .editing-profile__about-me .editing-profile__btn::after {
  content: url("../images/my-profile/dowmload.png");
  position: relative;
  right: -22px;
=======
  max-width: 453px;
}
.editing-profile .editing-profile__content .editing-profile__about-me {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 28px;
>>>>>>> 4f18cb38ed4181133fdef0ad73abfd072898cb30
}

.editing-profile__container {
  background: #141923;
<<<<<<< HEAD
  height: 90%;
  max-width: 560px;
  box-shadow: 0px 8px 38.7000007629px 10px #0d1118;
}

.editing-profile__contacts {
  margin-top: 40px;
}

.editing-profile__btn-save {
  display: block;
  width: 200px;
  margin: 59px auto;
  background-color: #6a963e;
  border-radius: 10px;
  height: 60px;
  font-size: 20px;
  color: #ffffff;
}

.position {
  display: flex;
  flex-direction: column;
  gap: 28px;
}
.position input {
  width: 100%;
  background: #9ba4b5;
  border-radius: 5px;
  height: 54px;
  padding-left: 15px;
}
.position input::-moz-placeholder {
  font-size: 20px;
  color: rgba(20, 25, 35, 0.6196078431);
}
.position input::placeholder {
  font-size: 20px;
  color: rgba(20, 25, 35, 0.6196078431);
}/*# sourceMappingURL=my-profile.css.map */
=======
  padding: 30px 50px 30px 50px;
  max-width: 560px;
}
>>>>>>> 4f18cb38ed4181133fdef0ad73abfd072898cb30
