@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Rubik:wght@400;700&display=swap");

body{
    background-color: #141923;
    font-family: 'Roboto';
    color: #FFFFFF;
    &::-webkit-scrollbar{
        width: 0;
    }
}

.header {
    height: 80px;
    background: #0E141F;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    font-family: "Rubik";
}
.header__title {
    span{
        color: #FFFFFFB5;
    }
    font-size: 32px;
    font-weight: 700;
    color: #FFFFFFB5;
    margin-left: 175px;
}
.form {
  display: flex;
  margin-right: 181px;
  align-items: center;
}
.form__search {
  margin-right: 47px;
  input {
    width: 271px;
    height: 43px;
    background-color: #d9d9d9;
    background: url("../images/index/search.png") no-repeat;
    background-position: right;
    border-radius: 12px;
  }
}
.form__menu {
  input {
    position: absolute;
    visibility: hidden;
  }
}

.form__checkbox:checked ~ .menu-list {
  transform: translateY(0);
  top: 80px;
}
.menu-list {
  position: absolute;
  top: 0;
  right: 0;
  transform: translateY(-100%);
  width: 440px;
  height: 395px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: 50px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    linear-gradient(0deg, #141923, #141923);
  span {
    color: #ffffffbd;
  }
  font-size: 24px;
  font-weight: 700;
}
.form__checkbox-label {
  cursor: pointer;
}

.profile {
  width: 100%;
  margin-top: 80px;
}
.profile__content {
  margin: 52px auto;
  max-width: 1158px;

  .profile__inform {
    display: flex;
    gap: 35px;
  }
}
.profile__img {
  max-width: 358px;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 21px;
  
  span{
    line-height: 34px;
    color: #141923C9;
    font-weight: 700;
    font-size: 20px;

    &::after{
      content: url("../images/my-profile/pen.png");
      width: 19px;
      position: relative;
      right: -7px;
      top: 5px;
    }
  }

  a{
    max-width: 297px;
    border-radius: 50px;
    background-color: #D9D9D954;
    height: 34px;
  }
}
.profile__data {

}
.profile__name {
  font-weight: 700;
  font-size: 48px;
  font-family: "Rubik";
}
.profile__status {
  font-size: 20px;
  color: #FFFFFF94;
  line-height: 23.44px;
  max-width: 476px;
  margin-left: 55px;
  margin-top: 50px;
  position: relative;

  &::before{
    content: url("../images/my-profile/status.png");
    position: absolute;
    left: -47px;
  }
}
.profile__friends {
  margin-top: 25px;
  display: flex;
  font-size: 24px;
  font-family: "Rubik";
  font-weight: 700;
  align-items: center;
  gap: 27px;
}
.profile__profile-frend {
  display: flex;
  gap: 15px;
}
.profile-frend {
  max-width: 57px;
  font-size: 15px;
  color: #FFFFFF66;
  text-align: center;
  font-family: "Roboto";
  font-weight: 400;
  img{
    margin-bottom: 11px;
  }
}
.profile__photos {
  margin-top: 25px;
}
.profile__photo-title {
  display: flex;
  font-size: 32px;
  font-weight: 700;
  justify-content: space-between;
}
.photos {
  margin-top: 21px;
  display: flex;
  gap: 41px;
}
.profile-nav {
  display: flex;
  justify-content: space-between;
  max-width: 108px;
  margin: 26px auto;
}


.editing-profile {
  width: 100%;
  height: 100vh;
  backdrop-filter: blur(10px);
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;

  &:target{
    opacity: 1;
  }

}
.editing-profile__container {
  box-shadow: 0px 8px 38px 10px #0D1118;

  max-width: 540px;
  height: 90vh;
  margin: 0 auto;
  background: #141923;
}
.editing-profile__btn-save{
  width: 200px;
  height: 60px;
  margin: 59px auto;
  background: #6A963E;
  color: #FFFFFF;
  font-size: 20px;
  border-radius: 10px;
}
.editing-profile__content {

  margin: 50px 30px;
  width: calc(100% - 60px);
  height: calc(100% - 100px);
}
.editing-profile__about-me {
  h2{
    font-size: 32px;
    font-weight: 700;
  }
  button{
    background: none;
    width: 255px;
    height: 43px;
    border: 1px solid #FFFFFF;
    border-radius: 70px;
    font-size: 20px;
    color: #FFFFFF;
    position: relative;

    &::after{
      content: url("../images/my-profile/dowmload.png");
      position: absolute;
      right: -50px;
    }
  }
}
.editing-profile__contacts {
  margin-top: 30px;
  h2{
    font-size: 32px;
    font-weight: 700;
  }
}
  

.position{

  display: flex;
  flex-direction: column;
  gap: 28px;


  input{
    border-radius: 3px;
    padding: 15px;
    background: #9BA4B5;
    height: 54px;
    width: 100%;

    &::placeholder{
      font-size: 20px;
      color: #141923;
    }
  }

  textarea{
    width: 100%;
    height: 103px;
    background: #9BA4B5;
    padding: 15px;

    &::placeholder{
      font-size: 20px;
      color: #141923;
    }
  }
}


