@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Rubik:wght@400;700&display=swap");

<<<<<<< HEAD
body {
  background-color: #141923;
  font-family: "Roboto";
  color: #ffffff;
  &::-webkit-scrollbar {
    width: 0;
  }
}

.header {
  height: 80px;
  background: #0e141f;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  font-family: "Rubik";
}
.header__title {
  span {
    color: #ffffffb5;
  }
  font-size: 32px;
  font-weight: 700;
  color: #ffffffb5;
  margin-left: 175px;
=======
body{
    background-color: #141923;
    font-family: 'Roboto';
    color: #FFFFFF;
    &::-webkit-scrollbar{
        width: 0;
    }
}

.header {
    height: 80px;
    background: #0E141F;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    font-family: "Rubik";
}
.header__title {
    span{
        color: #FFFFFFB5;
    }
    font-size: 32px;
    font-weight: 700;
    color: #FFFFFFB5;
    margin-left: 175px;
>>>>>>> 4f18cb38ed4181133fdef0ad73abfd072898cb30
}
.form {
  display: flex;
  margin-right: 181px;
  align-items: center;
}
.form__search {
  margin-right: 47px;
  input {
    width: 271px;
    height: 43px;
    background-color: #d9d9d9;
    background: url("../images/index/search.png") no-repeat;
    background-position: right;
    border-radius: 12px;
  }
}
.form__menu {
  input {
    position: absolute;
    visibility: hidden;
  }
}

.form__checkbox:checked ~ .menu-list {
  transform: translateY(0);
  top: 80px;
}
.menu-list {
  position: absolute;
  top: 0;
  right: 0;
  transform: translateY(-100%);
  width: 440px;
  height: 395px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: 50px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    linear-gradient(0deg, #141923, #141923);
  span {
    color: #ffffffbd;
  }
  font-size: 24px;
  font-weight: 700;
}
.form__checkbox-label {
  cursor: pointer;
}

.profile {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  margin-top: 100px;
}
.profile__content {
  margin-top: 61px;
  width: 1160px;
}
.profile__inform {
  display: flex;
}
.profile__img {
<<<<<<< HEAD
  display: flex;
  flex-direction: column;
  a {
    margin-top: 22px;
    display: inline-block;
    height: 34px;
    border-radius: 32px;
    background-color: #d9d9d954;
    text-align: center;
    position: relative;
  }
  span {
    font-size: 20px;
    font-weight: 700;
    line-height: 34px;
    color: #141923c9;
    &::after {
      content: url("../images/my-profile/pen.png");
      padding-left: 10px;
      position: absolute;
      top: 5px;
=======
    display: flex;
    flex-direction: column;
    a{
        margin-top: 22px;
        display: inline-block;
        height: 34px;
        border-radius: 32px;
        background-color: #D9D9D954;
        text-align: center;
        position: relative;
    }
    span{
        font-size: 20px;
        font-weight: 700;
        line-height: 34px;
        color: #141923C9;
        &::after{
            content: url("../images/my-profile/pen.png");
            padding-left: 10px;
            position: absolute;
            top: 5px
        }
>>>>>>> 4f18cb38ed4181133fdef0ad73abfd072898cb30
    }
  }
}
.profile__data {
  margin-left: 42px;
}
.profile__name {
  font-family: Rubik;
  font-size: 32px;
  font-weight: 700;
}
.profile__status {
  padding-left: 25px;
  width: 476px;
  height: 75px;
  font-family: Roboto;
  font-size: 20px;
  line-height: 23px;
  color: #ffffff94;
  margin-top: 15px;

  &::before {
    content: url("../images/my-profile/status.png");
    position: relative;
    left: -30px;
    top: 30px;
  }
}
.profile__friends {
  margin-top: 49px;
  display: flex;
  span {
    font-size: 24px;
    font-weight: 700;
  }
}
.profile__profile-frend {
  width: 265px;
  display: flex;
  justify-content: space-between;
  margin-left: 50px;
}
.profile-frend {
  display: flex;
  flex-direction: column;
  span {
    padding-top: 15px;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    color: #ffffff66;
  }
}
.profile__photos {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  .profile__photo-title {
    display: flex;
    justify-content: space-between;
  }
  h3 {
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
  }
}

.photos {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  width: 1160px;
}
.profile-nav {
<<<<<<< HEAD
  margin: 26px 0 36px 0;
  width: 102px;
  display: flex;
  justify-content: space-between;
  align-self: center;
}

.editing-profile {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  backdrop-filter: blur(10px);
  z-index: 1050;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;

  &:target{
    opacity: 1;
    overflow-y: auto;
  }

  textarea {
    height: 103px;
    border-radius: 5px;
    background: #9ba4b5;
    padding: 15px 0 0 15px;

    &::placeholder {
      font-size: 20px;
      color: #1419239e;
    }
  }

  h2 {
    font-weight: 700;
    font-size: 32px;
  }

  .editing-profile__content {
    margin: 30px 50px;
    min-width: 453px;

    .editing-profile__about-me {
      .editing-profile__btn {
        button {
          display: inline-block;
          border: 1px solid #ffffff;
          border-radius: 70px;
          width: 255px;
          height: 43px;
          background: none;
          font-size: 20px;
          color: #ffffff;
        }

        &::after {
          content: url("../images/my-profile/dowmload.png");
          position: relative;
          right: -22px;
        }
      }
    }
  }
}

.editing-profile__container {
  background: #141923;
  height: 90%;
  max-width: 560px;
  box-shadow: 0px 8px 38.70000076293945px 10px #0d1118;
}

.editing-profile__contacts {
  margin-top: 40px;
}

.editing-profile__btn-save {
  display: block;
  width: 200px;
  margin: 59px auto;
  background-color: #6a963e;
  border-radius: 10px;
  height: 60px
  ;
  font-size: 20px;
  color: #ffffff;
}
.position {
  display: flex;
  flex-direction: column;
  gap: 28px;

  input {
    width: 100%;
    background: #9ba4b5;
    border-radius: 5px;
    height: 54px;

    padding-left: 15px;

    &::placeholder {
      font-size: 20px;
      color: #1419239e;
    }
  }
}
=======
    margin: 26px 0 36px 0;
    width: 102px;
    display: flex;
    justify-content: space-between;
    align-self: center;
}


.editing-profile {
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    backdrop-filter: blur(10px);
    z-index: 1050;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;

    &:target{
        opacity: 1;
    }

    input{
        width: 100%;
        height: 54px;
        background: #9BA4B5;
        border-radius: 5px;
        padding-left: 15px;

        &::placeholder{
            font-size: 20px;
            color: #1419239E;
        }
    }

    h2{
        font-weight: 700;
        font-size: 32px;
    }

    .editing-profile__content {
        max-width: 453px;
       

        .editing-profile__about-me {
            display: flex;
            flex-direction: column;
            gap: 28px;
        }
    }
}

.editing-profile__container{
    background: #141923;
    padding: 30px 50px 30px 50px;
    max-width: 560px;

}

.editing-profile__contacts {
}
>>>>>>> 4f18cb38ed4181133fdef0ad73abfd072898cb30
