@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Rubik:wght@400;700&display=swap");
.header {
  height: 80px;
  background: rgba(14, 20, 31, 0.8784313725);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.header__title {
  font-size: 32px;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.7098039216);
  margin-left: 175px;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 181px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form__search {
  margin-right: 47px;
}
.form__search input {
  width: 271px;
  height: 43px;
  background-color: #D9D9D9;
  background: url("../images/index/search.png") no-repeat;
  background-position: right;
  border-radius: 12px;
}

.form__menu input {
  position: absolute;
  visibility: hidden;
}

.form__checkbox:checked ~ .menu-list {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  top: 80px;
}

.menu-list {
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  width: 440px;
  height: 395px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-left: 50px;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.2))), -webkit-gradient(linear, left bottom, left top, from(#141923), to(#141923));
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(0deg, #141923, #141923);
  font-size: 24px;
  font-weight: 700;
}
.menu-list span {
  color: rgba(255, 255, 255, 0.7411764706);
}

.form__checkbox-label {
  cursor: pointer;
}

body {
  font-family: "Roboto";
  font-weight: 700;
}

.poster {
  background: url("../images/poster/background.png") no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #10151F;
}
.poster .slider {
  width: 1458px;
  height: 623px;
  margin: 80px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.poster .slider .slider__arrow {
  width: 119px;
  height: 91px;
}
.poster .slider .content {
  width: 1166px;
  height: 623px;
  background: rgba(217, 217, 217, 0.4588235294);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  background: url("../images/poster/figure-1.png") no-repeat bottom 74px right 38.6px, url("../images/poster/figure-2.png") no-repeat bottom 190.01px right 50.54px, url("../images/poster/figure-3.png") no-repeat top 25.61px left 36.61px, rgba(217, 217, 217, 0.4588235294);
}
.poster .slider .content .content__date {
  text-align: right;
  font-size: 36px;
  margin: 25px 25px 0 0;
}
.poster .slider .content .content__info {
  max-width: 817px;
  margin: 150px 0 125px 95px;
}
.poster .slider .content .content__info .content__title h2 {
  font-size: 64px;
  font-weight: 700;
  font-family: "Rubik";
  color: #10151F;
  line-height: 76px;
}
.poster .slider .content .content__info .content__subtitle {
  margin-top: 40px;
  max-width: 682px;
  font-size: 32px;
  line-height: 40px;
  color: rgba(16, 21, 31, 0.6980392157);
}