@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Rubik:wght@400;700&display=swap");
.header {
  height: 80px;
  background: #0E141F;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.header__title {
  font-size: 32px;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.7098039216);
  margin-left: 175px;
}
.header__title span {
  color: rgba(255, 255, 255, 0.7098039216);
}

.form {
  display: flex;
  margin-right: 181px;
  align-items: center;
}

.form__search {
  margin-right: 47px;
}
.form__search input {
  width: 271px;
  height: 43px;
  background-color: #D9D9D9;
  background: url("../images/index/search.png") no-repeat;
  background-position: right;
  border-radius: 12px;
}

.form__menu input {
  position: absolute;
  visibility: hidden;
}

.form__checkbox:checked ~ .menu-list {
  transform: translateY(0);
  top: 80px;
}

.menu-list {
  position: absolute;
  top: 0;
  right: 0;
  transform: translateY(-100%);
  width: 440px;
  height: 395px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: 50px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(0deg, #141923, #141923);
  font-size: 24px;
  font-weight: 700;
}
.menu-list span {
  color: rgba(255, 255, 255, 0.7411764706);
}

.form__checkbox-label {
  cursor: pointer;
}

body {
  font-family: "Roboto";
  font-weight: 700;
  background: url(../images/poster/background.png) no-repeat;
  background-size: cover;
  width: 100%;
}

.poster {
  padding-top: 80px;
  width: 100%;
  height: 100vh;
  font-weight: 700;
  display: flex;
  align-items: center;
}

.slider {
  display: flex;
  justify-content: center;
  gap: 27px;
  max-width: 1458px;
  max-height: calc(100% - 100px);
  margin: 0 auto;
  align-items: center;
}

.slider__arrow img {
  max-width: 60%;
}

.content {
  width: 1166px;
  background: rgba(217, 217, 217, 0.4588235294);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  background: url("../images/poster/figure-1.png") no-repeat bottom 74px right 38.6px, url("../images/poster/figure-2.png") no-repeat bottom 190.01px right 50.54px, url("../images/poster/figure-3.png") no-repeat top 25.61px left 36.61px, rgba(217, 217, 217, 0.4588235294);
  padding: 25px 25px 100px 75px;
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.content__date {
  align-self: flex-end;
  font-size: 36px;
}

.content__info {
  font-weight: 700;
}

.content__title {
  font-size: 64px;
  font-family: "Rubik";
  max-width: 817px;
}
.content__title h2 {
  font-size: 64px;
}

.content__subtitle {
  font-size: 32px;
  color: rgba(16, 21, 31, 0.6980392157);
  line-height: 42.14px;
}

.right {
  transform: scale(-1, 1);
}

/* // .poster{
//     background: url("../images/poster/background.png") no-repeat;
//     background-size: cover;
//     width: 100%;
//     height: 100vh;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     color: #10151F;

//     .slider {
//         max-width: 1458px;
//         max-height: 623px;
//         // margin: 80px auto;
//         display: flex;
//         justify-content: space-between;
//         align-items: center;

//         .slider__arrow{
//             max-width: 119px;
//             max-height: 91px;
//         }

//         .content {
//             max-width: 1166px;
//             max-height: 623px;
//             padding: 25px 25px 125px 95px;
//             display: flex;
//             flex-direction: column;
//             background: #D9D9D975;
//             backdrop-filter: blur(20px);

//             background: url("../images/poster/figure-1.png") no-repeat bottom 74px right 38.6px, url("../images/poster/figure-2.png") no-repeat bottom 190.01px right 50.54px,
//                         url("../images/poster/figure-3.png") no-repeat top 25.61px left 36.61px, #D9D9D975;
//                         ;

//             .content__date {
//                 text-align: right; 
//                 font-size: 36px;
//                 margin: 25px 25px 0 0;
//             }

//             .content__info{
//                 max-width: 817px;
//                 margin: 150px 0 125px 0;

//                 .content__title {



//                     h2{
//                         font-size: 64px;
//                         font-weight: 700;
//                         font-family: "Rubik";
//                         color: #10151F;
//                         line-height: 76px;
//                     }

//                 }

//                 .content__subtitle {
//                     margin-top: 40px;
//                     max-width: 682px;
//                     font-size: 32px;
//                     line-height: 40px;
//                     color: #10151FB2;
//                 }
//             }
//         }
//     }
// } *//*# sourceMappingURL=poster.css.map */