@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Rubik:wght@400;700&display=swap");
html {
  scroll-behavior: smooth;
}

.header {
  height: 80px;
  background: #0E141F;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

.header__title {
  font-size: 32px;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.7098039216);
  margin-left: 175px;
}
.header__title span {
  color: rgba(255, 255, 255, 0.7098039216);
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 181px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form__search {
  margin-right: 47px;
}
.form__search input {
  width: 271px;
  height: 43px;
  background-color: #D9D9D9;
  background: url("../images/index/search.png") no-repeat;
  background-position: right;
  border-radius: 12px;
}

.form__menu input {
  position: absolute;
  visibility: hidden;
}

.form__checkbox:checked ~ .menu-list {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  top: 80px;
}

.menu-list {
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  width: 440px;
  height: 395px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-left: 50px;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.2))), -webkit-gradient(linear, left bottom, left top, from(#141923), to(#141923));
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(0deg, #141923, #141923);
  font-size: 24px;
  font-weight: 700;
}
.menu-list span {
  color: rgba(255, 255, 255, 0.7411764706);
}

.form__checkbox-label {
  cursor: pointer;
}

body {
  width: 100%;
  color: #FFFFFF;
  background-color: #141923;
  list-style-type: none;
  font-family: "Rubik";
}

.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.welcom {
  height: 100vh;
  width: 100%;
  background: url("../images/index/house.png") no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-size: cover;
}

.welcom__container-left {
  width: 66.66%;
}

.welcom__text {
  text-align: left;
  margin: 0 auto;
}

.welcom__title {
  font-size: 72px;
  font-weight: 700;
  line-height: 90px;
  width: 708px;
}

.welcom__subtitle {
  margin-top: 50px;
  font-size: 36px;
  line-height: 43px;
  letter-spacing: 0.07em;
  text-align: left;
}

.welcom__container-right {
  width: 33.33%;
  background: rgba(20, 25, 35, 0.9215686275);
}

.welcom__input {
  margin: 0 50px 0 50px;
  padding-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 544px;
  font-family: "Roboto";
}
.welcom__input h2 {
  font-family: "Rubik";
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  text-align: center;
}
.welcom__input span {
  font-size: 20px;
  line-height: 26px;
  color: rgba(255, 255, 255, 0.5215686275);
}

.welcom__data {
  height: calc(100% - 92px);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.welcom__data .input {
  width: 375.4px;
  height: 54.23px;
  border-radius: 4px;
  background: #9BA4B5;
}
.welcom__data .input input {
  width: calc(100% - 20px);
  height: 100%;
  background: #9BA4B5;
  margin-left: 13px;
}
.welcom__data .input input::-webkit-input-placeholder {
  color: rgba(20, 25, 35, 0.6196078431);
  font-size: 20px;
}
.welcom__data .input input::-moz-placeholder {
  color: rgba(20, 25, 35, 0.6196078431);
  font-size: 20px;
}
.welcom__data .input input:-ms-input-placeholder {
  color: rgba(20, 25, 35, 0.6196078431);
  font-size: 20px;
}
.welcom__data .input input::-ms-input-placeholder {
  color: rgba(20, 25, 35, 0.6196078431);
  font-size: 20px;
}
.welcom__data .input input::placeholder {
  color: rgba(20, 25, 35, 0.6196078431);
  font-size: 20px;
}

.welcom__data_input {
  width: 200px;
  height: 60px;
  background: #6A963E;
  border-radius: 10px;
  font-size: 20px;
  line-height: 60px;
  text-align: center;
  color: #FFFFFF;
}

.welcom__data_register {
  width: 270px;
  height: 41px;
  border-radius: 70px;
  border: 1px solid #FFFFFF;
  background: rgba(20, 25, 35, 0.9215686275);
  font-size: 20px;
  line-height: 41px;
  text-align: center;
  color: #FFFFFF;
}

.welcom__button {
  display: block;
  width: 271.84px;
  height: 41.18px;
  border-radius: 70px;
  border: 1px solid #FFFFFF;
  text-align: center;
  line-height: 41.18px;
}
.welcom__button span {
  color: #FFFFFF;
}

.menu__container {
  width: 1161px;
  height: 1805px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style-type: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu {
  margin-top: 267px;
  width: 100%;
}

.position {
  background-position: center center;
}

.menu__title {
  font-size: 48px;
  font-weight: 700;
  line-height: 60px;
  color: #2C1B0B;
  margin-bottom: 20px;
}

.menu__subtitle {
  font-family: "Roboto";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 306px;
  height: 62px;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.6705882353);
  font-size: 20px;
  font-weight: 700;
  line-height: 23px;
  color: #2C1B0B;
  padding-left: 12px;
}

.mini {
  display: block;
  width: 459px;
  height: 343px;
  border-radius: 15px;
  padding: 70px 0 0 66px;
}

.medium {
  display: block;
  width: 661px;
  height: 343px;
  padding: 66px 0 0 80px;
  border-radius: 15px;
}
.medium .menu__subtitle {
  width: 377px;
  height: 62.73px;
}

.max {
  width: 1160px;
  height: 308px;
  display: block;
  padding: 53px 0 0 100px;
  border-radius: 15px;
}
.max .menu__subtitle {
  width: 421px;
  height: 50px;
}

.menu__about-as {
  background-image: url("../images/index/aboutUs.png");
}

.menu__services {
  background-image: url("../images/index/services.png");
}

.menu__booking {
  background-image: url("../images/index/booking.png");
}

.menu__chat {
  background-image: url("../images/index/chat.png");
}

.menu__my-profile {
  background-image: url("../images/index/myProfile.png");
}

.menu__photo {
  background-image: url("../images/index/photo.png");
}

.menu__poster {
  background-image: url("../images/index/poster.png");
}

.menu__where-to-go {
  background-image: url("../images/index/whereToGo.png");
}

.about-us {
  margin-top: 141px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 856px;
}

.about-us__container {
  border-top: 4px solid rgba(255, 255, 255, 0.1803921569);
  border-bottom: 4px solid rgba(255, 255, 255, 0.1803921569);
  width: 1160px;
  height: 856px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-us__content {
  height: 568px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about-us__inform {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about-us__title {
  font-size: 64px;
  font-weight: 700;
  line-height: 80px;
}

.about-us__text {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 518px;
  height: 531px;
  font-family: Roboto;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.1em;
  color: rgba(255, 255, 255, 0.7803921569);
}
.about-us__text h2 {
  font-size: 64px;
  font-weight: 700;
}

.about-us__text_first {
  margin-bottom: 30px;
}

.about-us__text_last {
  margin-bottom: 30px;
}

.about-us__button {
  display: block;
  width: 200px;
  height: 60px;
  margin: auto;
  border-radius: 70px;
  border: 1px solid #FFFFFF;
  text-align: center;
}
.about-us__button span {
  font-family: Roboto;
  font-size: 20px;
  line-height: 60px;
  color: #FFFFFF;
}

.services {
  margin-top: 141px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Roboto;
}

.services__container {
  border-bottom: 4px solid rgba(255, 255, 255, 0.1803921569);
  height: 1150px;
  width: 1160px;
}

.services_content {
  height: 741px;
  font-weight: 700;
  color: #FFFFFF;
}
.services_content h2 {
  font-size: 64px;
  margin-bottom: 103px;
}
.services_content h3 {
  font-size: 32px;
  margin: 45px 0 45px 0;
}

.table__row {
  font-weight: 400;
  width: 1160px;
  height: 64px;
  border: 1px solid #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 21px 0 21px;
  font-size: 24px;
  line-height: 64px;
}

.booking {
  margin-top: 92px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.booking__container {
  width: 1160px;
  height: 1842px;
}
.booking__container h2 {
  font-size: 64px;
  font-weight: 700;
  line-height: 80px;
}

.booking__content h3 {
  font-size: 36px;
  font-weight: 700;
  line-height: 45px;
  text-align: center;
}

.booking__info {
  margin-top: 15px;
  width: 100%;
  height: 363px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 143px;
}

.booking__text {
  width: 505px;
  font-size: 24px;
  line-height: 34px;
  letter-spacing: 0.06em;
  margin-right: 25px;
}
.booking__text .booking__text_last {
  margin-top: 20px;
}

.booking__block {
  width: 5px;
  background: rgba(255, 255, 255, 0.7882352941);
  height: 360px;
}

.booking__contact {
  width: 337px;
}
.booking__contact p {
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
  margin-bottom: 40px;
}
.booking__contact span {
  font-size: 36px;
  font-weight: 700;
}
.booking__contact span::before {
  content: url("images/index/phone.png");
  padding-right: 18px;
}

.booking__rooms {
  margin: 50px 0 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.booking__room {
  font-size: 24px;
  line-height: 30px;
  color: rgba(255, 255, 255, 0.4901960784);
  text-align: center;
}
.booking__room img {
  margin-bottom: 15px;
}

.booking__houses {
  margin: 50px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.booking__house {
  font-size: 24px;
  line-height: 30px;
  color: rgba(255, 255, 255, 0.4901960784);
  text-align: center;
}
.booking__house img {
  margin-bottom: 15px;
}

.footer {
  width: 100%;
  margin-top: 134px;
  gap: 87px;
}

.footer__container {
  max-width: 1160px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__menu {
  font-size: 20px;
  line-height: 42px;
}
.footer__menu span {
  color: #FFFFFF;
}

.footer__adres {
  max-width: 255px;
  color: rgba(255, 255, 255, 0.5411764706);
}
.footer__adres span {
  font-weight: 700;
}

.footer__contact {
  font-weight: 700;
}

.footer__cub {
  font-size: 20px;
  max-width: 303px;
  margin: 87px auto;
  font-weight: 700;
  font-family: "Rubik";
  color: rgba(255, 255, 255, 0.2588235294);
}